* {
	box-sizing: border-box;
	padding: 0; margin: 0; border: 0;
}

:root {
	--transition: all .3s ease-in-out;
}

@keyframes roll{
	0% { transform:rotate(0deg) }
	100% { transform:rotate(360deg) }
}

body {
	background-color: #000;
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	text-align: center;
	overflow-x: hidden;
	color: #fff;
	line-height: 1.5;
}

header {
	margin: 40px 0 10px;
	padding: 0 10px;
	font-size: 1.1em;
	text-transform: uppercase;
}

main {
	margin-top: 90px;
}

/* .dog */

.dog {
	width: 300px;
	shape-rendering: crispEdges;
}

.dog rect {
	transition: var(--transition);
}

.dog rect.opaque {
	fill-opacity: .8;
}

.dog[data-state='roll'] {
	animation: roll .5s linear infinite;
}

/* .text */

.text, .result, footer {
	cursor: default;
	user-select: none;
}

.text {
	margin: 100px auto 0;
	padding: 0 10px;
	max-width: 1000px;
	line-height: 1.8;
}

/* .result */

.result {
	margin-top: 30px;
	font-size: 5.5em;
}

.result:empty {
	display: none;
}

/* .actionBtn */

.actionBtn {
	display: none;
	background-color: transparent;
	border: 5px solid #fff;
	padding: 10px;
	margin: 30px auto 0;
	text-transform: uppercase;
	font-family: inherit;
	cursor: pointer;
	color: #fff;
	transition: var(--transition);
}

.actionBtn:hover {
	opacity: .8;
}

.actionBtn[data-state] {
	display: block;
}

.actionBtn[data-state='ready']:after {
	content: 'Ролл';
}

.actionBtn[data-state='back']:after {
	content: 'Назад';
}

/* footer */

footer {
	font-family: Roboto, Arial, sans-serif;
	text-align: center;
	font-size: .7em;
	margin: 35px 0 25px;
	padding: 0 5px;
	opacity: .5;
}

footer a {
	color: #fff;
	transition: var(--transition);
}

footer a:hover {
	color: #eeeeee;
}

/* media queries */

@media screen and (max-width: 479px) {
	.result {
		font-size: 3.2em;
	}
}
